* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  scroll-behavior: smooth;
}

#wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: black;
  color: white;
  font-family: Helvetica, sans-serif;
}

.container {
  height: 95vh;
  background-image: url(assets/images/background-image.jpg);
  background-position: center -300px;
  background-repeat: no-repeat;
  background-size: max(1200px, 125vw 95vh);
  position: relative;
}

.container .black-faded {
  height: 95vh;
  width: 100%;
  background-image: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.5) 15%,
    rgba(0, 0, 0, 0.6) 40%,
    rgb(0, 0, 0, 1) 100%
  );
  opacity: 0.8;
  position: absolute;
  top: 0;
}

.navbar {
  display: flex;
  align-items: center;
  max-width: 60vw;
  margin: auto;
  justify-content: space-between;
  height: 60px;
  padding-top: 10px;
}

.navbar img {
  width: 148px;
  position: relative;
  z-index: 2;
  user-select: none;
}

.navbar button {
  position: relative;
  z-index: 2;
}

.sign-in {
  height: 32px;
  width: 80px;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 15px;
  cursor: pointer;
  background-color: rgb(229, 9, 20);
  color: white;
}

.sign-in:hover {
  background-color: rgb(192, 26, 26);
}

.lang {
  padding: 3px 8px;
  margin-right: 18px;
  height: 33px;
  width: 120px;
  border-radius: 5px;
  background-color: black;
  border: 0.1px solid rgba(255, 255, 255, 0.533);
}

select {
  background-color: black;
  color: white;
  border: none;
}

.introduction {
  height: calc(100% - 60px);
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  flex-direction: column;
  color: #ffff;
  gap: 23px;
  padding: 0 30px;
}

.intro1 {
  font-size: 43px;
  font-weight: 800;
  text-align: center;
}

.intro2 {
  font-size: 22.5px;
  font-weight: 500;
  text-align: center;
}

.intro3 {
  font-size: 22.5px;
  font-weight: 500;
  text-align: center;
}

.address {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.address > input {
  font-size: 15px;
  width: 404px;
  height: 60px;
  background-color: black;
  border-radius: 5px;
  border: 0.1px solid rgba(255, 255, 255, 0.532);
  opacity: 0.6;
  padding-left: 20px;
  color: #ffff;
}

::placeholder {
  color: white;
  font-size: 17px;
  letter-spacing: 0.5px;
}

.get-started {
  background-color: rgb(229, 9, 20);
  height: 60px;
  width: 210px;
  border-radius: 5px;
  border: none;
  padding: 3px 8px;
  color: #ffff;
  font-size: 25px;
  font-weight: bolder;
}

.get-started:hover {
  background-color: rgb(192, 26, 26);
}

.separation {
  height: 1vh;
  background-color: #212529;
}

.first {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
  padding: 0 140px;
  position: relative;
}

.content {
  padding: 10px 70px;
  width: 30vw;
}

.heading {
  color: white;
  font-size: 50px;
  font-weight: bolder;
}

.details {
  color: white;
  font-size: 25px;
  margin-top: 33px;
}

.first img {
  width: 30vw;
  position: relative;
  z-index: 2;
}

.first .video1 {
  position: absolute;
  width: 25vw;
  right: 200px;
}

.second {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70vh;
  padding: 0 140px;
  position: relative;
}

.img1 {
  position: relative;
  height: 50vh;
}

.img2 {
  position: absolute;
  height: 80px;
  top: 44vh;
  left: 18vw;
  z-index: 2;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 103px;
  width: 326px;
  border-radius: 10px;
  background-color: black;
  border: 2px solid rgba(255, 255, 255, 0.503);
  position: absolute;
  top: 42vh;
  left: 17vw;
  z-index: 1;
}

.stranger {
  font-weight: bolder;
}

.downloading {
  color: #0071eb;
}

.download-video {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16vw;
  position: absolute;
  height: 7vh;
  width: 3vw;
  background: url("https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif")
    center center no-repeat;
  background-size: 100%;
  z-index: 2;
  color: green;
}

.first .video2 {
  position: absolute;
  right: 270px;
  top: 120px;
  width: 19vw;
}

.querries {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;
  margin-top: 60px;
  margin-bottom: 70px;
}

.querries-heading {
  font-weight: 900;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 15px;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2d2d2d;
  margin: auto;
  width: 65vw;
  padding: 25px 25px;
  font-weight: 400;
  font-size: 24px;
}

.question:hover {
  background-color: #414141;
}

.email-address {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.ready {
  font-size: 25px;
  margin-top: 40px;
  margin-bottom: 20px;
}

footer {
  margin: 100px 0px;
  color: rgba(255, 255, 255, 0.532);
}

.questions-call {
  margin: 20px 7vw;
  color: rgba(255, 255, 255, 0.532);
}

.questions-call a {
  color: rgba(255, 255, 255, 0.532);
}

.footer-section {
  display: flex;
  justify-content: space-around;
}

.links {
  display: flex;
  flex-direction: column;
}

.links a {
  margin: 10px;
  color: rgba(255, 255, 255, 0.532);
}

.down {
  margin: 20px 7vw;
}

.netflix {
  margin: 0px 7.4vw;
}
